<nav class="aside">
  <!-- Sidebar Menu -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/UserLogo.png" class="img-circle" alt="User Image">
      </div>
      <p>AdminName</p>
      <div class="pull-left info">
        <!-- Status -->
        <i class="fa fa-circle text-success"></i> Online
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <!-- Dashboard -->
      <li class="treeview">
        <a routerLink="/admin">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <!-- Products -->
      <li class="treeview">
        <a routerLink="/admin/products">
          <i class="fa fa-shopping-bag"></i> <span>Products</span>
        </a>
      </li>

      <!-- Orders -->
      <li class="treeview">
        <a routerLink="/admin/products/create">
          <i class="fa fa-shopping-cart"></i> <span>Crear Producto</span>
        </a>
      </li>

      <!-- Users -->
      <li class="treeview">
        <a routerLink="/users">
          <i class="fa fa-users"></i> <span>Users</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
