.footer {
    height: 60px;
    background-color: #F08080; 
    padding: 10px;
    text-align: center;
  }
  
  .footer-inner {
    color: #FFF; 
  }
  
  .footer-inner p {
    margin: 0;
    font-size: 14px;
  }
  